@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);body{font-family:"Roboto",sans-serif}.tm-light{background-color:#fff;color:#1a202c}.tm-dark{background-color:#2d3748;color:#fff}.tm-auto{background-color:#fff;color:#1a202c}@media (prefers-color-scheme:dark){.tm-auto{background-color:#2d3748;color:#fff}}
/*# sourceMappingURL=main.027954a6.chunk.css.map */