@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.tm-light {
    background-color: #fff;
    color: #1a202c;
}

.product-card-description {
    height: 80px;
    width: 300px;
    overflow: hidden;
    font-size: 0.9em;
    margin: 0;
    position: relative;
    top: -30px;
}

.product-card-title {
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    width: 300px;
    overflow: hidden;
}

.tm-light .product-card-description::before {
    position: relative;
    top: 50px;
    display: block;
    height: 30px;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 75%);
    content: "";
}

.tm-dark {
    background-color: #2d3748;
    color: #fff;
}

.tm-light .product-card-description::before {
    position: relative;
    top: 50px;
    display: block;
    height: 30px;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #2d3748 75%);
    content: "";
}

.tm-auto {
    background-color: #fff;
    color: #1a202c;
}

.tm-auto .product-card-description::before {
    position: relative;
    top: 50px;
    display: block;
    height: 30px;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 75%);
    content: "";
}

@media (prefers-color-scheme: dark) {
    .tm-auto {
        background-color: #2d3748;
        color: #fff;
    }

    .tm-auto .product-card-description::before {
        position: relative;
        top: 50px;
        display: block;
        height: 30px;
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #2d3748 75%);
        content: "";
    }
}
