#cargoBlock input[class*=MuiInputBase],
#cargoBlock select {
    padding: 10px 5px;
}

#cargoBlock .textfields>div {
    width: 100px;
    margin-right: 15px;
}

.cargo-header>div {
    display: inline-block;
    margin-right: 25px;
    text-transform: none;
}

.not-change-label {
    font-size: 16px;
    text-transform: none;
}

.gray-button {
    border: 1px solid gray !important;
}
